// import abstract
@import './abstracts/variables.scss';
@import './abstracts/mixin.scss';

// Import components
@import './base/base.scss';
@import './components/text.scss';
@import './components/container.scss';
@import './components/buttons.scss';
@import './components/card.scss';
@import './components/form.scss';
@import './components/nav.scss';

// Import layout
@import './layout/header.scss';
@import './layout/advantage.scss';
@import './layout/cta.scss';
@import './layout/testimonial.scss';
@import './layout/pricing.scss';
@import './layout/project.scss';
@import './layout/team.scss';
@import './layout/contact.scss';
@import './layout/footer.scss';
