// Variables
$color-primary: #4b4b4b;
$color-secondary: #EBCB80;
$color-white: #ffffff;
$color-grey: #999999;
$color-form: #E6E6E6;
$color-map: #D8D8D8;

$default-font-size: 16px;
$large-font-size: 18px;

$default-line-height: 24px;
$large-line-height: 27px;