// Pricing
.pricing {
  background: $color-primary;
  padding: 50px 0 100px;
  &__title {
    padding-bottom: 50px;
    color: $color-white;
  }
  &__container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

