.contact {
  padding: 16px 0 25px;
  &__wrap-image {
    display: none;
  }
  &__title {
    padding-bottom: 12px;
  }
  &__detail {
    margin: 20px 0 0;
  }
  &__wrap-content {
    @include flex-box(flex,flex-start,null);
    padding-bottom: 10px;
    .icon-location {
      @include size(10px, 11px);
      margin-right: 13px;
    }
    .icon-email {
      @include size(16px, 9px);
      margin-right: 7px;
    }
    .icon-phone {
      @include size(12px, 11px);
      margin-right: 11px;
    }
  }
  &__content {
    max-width: 226px;
  }
  &__wrap-social {
    margin-top: 5px;
    @include flex-box(flex,center,space-between);
    width: 250px;
    .icon-social {
      @include size(21px, 19px);
      cursor: pointer;
    }
  }
  &__google {
    @include size(31px, 17px);
    cursor: pointer;
  }

  // Devise tablet
  @include respond(tablet) {
    padding: 34px 0 40px;
    &__title {
      padding-bottom: 45px;
    }
    &__container {
      @include grid(grid, 1fr 1fr);
      grid-column-gap: 30px;
    }
    &__detail {
      margin: 0;
    }
    &__wrap-content {
      padding-bottom: 15px;
      .icon-location {
        @include size(10px, 16px);
        margin-right: 10px;
      }
      .icon-email {
        @include size(17px, 10px);
        margin-right: 3px;
      }
      .icon-phone {
        @include size(12px, 17px);
        margin-right: 8px;
      }
    }
    &__wrap-social {
      .icon-social {
        @include size(22px, 22px);
      }
    }
    &__google {
      @include size(32px, 21px);
    }
  }

  // Devise Desktop
  @include respond(desktop) {
    padding: 67px 0 70px;
    &__title {
      padding: 70px;
    }
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 100px;
      position: relative;
    }
    &__wrap-image {
      display: block;
      position: absolute;
      top: -32%;
    }
    &__form {
      grid-column: 2;
    }
    &__wrap-content {
      padding-bottom: 23px;
      .icon-location {
        margin-right: 15px;
      }
      .icon-email {
        margin-right: 8px;
      }
      .icon-phone {
        margin-right: 13px;
      }
    }
    &__icon {
      margin-top: 5px;
    }
    &__wrap-social {
      margin-top: 20px;
      width: 280px;
      .icon-social {
        @include size(25px, 25px);
      }
    }
    &__google {
      @include size(36px, 23px);
    }
  }
}
