.team {
  padding: 28px 0 23px;
  background: url('../img/background-team-phone.png');
  background-size: cover;

  &__heading {
    @include font(24px, 32px);
    letter-spacing: -0.025em;
    padding-bottom: 4px;
  }

  &__sub-heading {
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: 0.0666667em;
  }

  &__description {
    max-width: 250px;
    padding-bottom: 15px;
  }

  // devise tablet
  @include respond(tablet) {
    padding: 100px 0 30px;
    background: url('../img/background-team-tablet.png');
    background-size: cover;
    @include grid(grid, 1fr 1fr);

    &__container {
      grid-column: 2;
      max-width: none;
      margin-left: 100px;
    }

    &__wrap-content {
      @include flex-box(flex,flex-start,space-between);
      width: 360px;
    }

    &__heading {
      padding-bottom: 5px;
    }

    &__sub-heading {
      padding-bottom: 16px;
    }

    &__description {
      max-width: 282px;
      padding-bottom: 0;
    }
  }

  // Devise desktop
  @include respond(desktop) {
    padding: 230px 0 70px;
    background: url('../img/background-team-desktop.png');
    background-size: cover;

    &__wrap-content {
      width: 524px;
    }

    &__heading {
      @include font(32px, 42px);
    }

    &__sub-heading {
      padding-bottom: 22px;
      letter-spacing: 0.0555556em;
    }

    &__description {
      max-width: 360px;
    }
  }
}
