.btn {
  // Devise phone
  @include size(140px, 32px);
  text-transform: uppercase;
  background-color: $color-secondary;
  border-radius: 50px;
  letter-spacing: 0.0727273em;
  @include font($font-default-phone,13px);
  color: $color-primary;
  border: none;
  cursor: pointer;

  &--black {
    background-color: $color-primary;
    color: $color-white;
  }

  // Devise tablet
  @include respond(tablet) {
    @include size(140px, 40px);
  }

  // Devise desktop
  @include respond(desktop) {
    @include size(210px, 48px);
    @include font($font-default-desktop,19px);
    letter-spacing: 0.0625em;
  }
}