.text{
  @include font(11px, 16px);
  &--large{
    @include font(12px, 16px);
  }
  &--white{
    color: $color-white;
  }
  @include respond(tablet){
    @include font(11px, 16px);
    &--large{
      @include font(12px, 16px);
    }
  }

  @include respond(desktop){
    @include font(16px, 24px);
    &--large{
      @include font(16px, 32px);
    }
  }
}

.title{
  @include font(20px, 40px);
  letter-spacing: -0.025em;
  text-align: center;
  @include respond(tablet){
    @include font(32px, 40px);
  }
  @include respond(desktop){
    @include font(44px, 48px);
    letter-spacing: -0.0363636em;
  }
}
