*{
  box-sizing: border-box;
}

body, h1, h2, p, a{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: $color-primary;
  font-style: normal;
  font-weight: normal;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: $color-white;
}
